{% extends "posts/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

  {% if form.errors %}
    <p>Vartotojo vardas arba slaptažodis nesutampa.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Puslapis nepasiekiamas. Prašome prisijungti.</p>
    {% else %}
      <p>Prašome prisijungti.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form |crispy }}</td>
      </tr>
    </table>
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  <p><a href="{% url 'users:password_reset' %}">Pamiršai slaptažodi?</a></p>

{% endblock %}