{% extends "posts/base.html" %}
{% block content %}
<div class="container" style="margin-left: 0; margin-top: 20px">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="#">Upload photo</a></li>
                  <li class="list-group-item">Menu 2</li>
                  <li class="list-group-item">Menu 3</li>
                  <li class="list-group-item">Menu 4</li>
                </ul>
              </div>
        </div>
        <div class="col-md-9">
            <p>test</p>
        </div>
    </div>
</div>
{% endblock %}