{% extends "posts/base.html" %}
{% block content %}
<div class="container m-5">
  <div class="row">
    <div class="col-3">
      <div class="card m-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{% url 'posts:upload_image' %}">Upload image</a></li>
            <!-- <li class="list-group-item">Menu 2</li>
            <li class="list-group-item">Menu 3</li>
            <li class="list-group-item">Menu 4</li> -->
            </ul>
        </div>
    </div>

      <div class="col-9">
        <div class="row">
          {% for post in gallery %}
            <div class="card m-2" style="width: 16rem;">
            {% if post.image %}
              <img class="card-img-top m-1 .img-fluid" style="background-color: gray-600" src="{{post.image.url}}" alt="image">
              {% else %}
              <strong>Nėra įkeltų nuotraukų</strong>
              {% endif %}
              <div class="card-body">
                <p class="card-text">{{post.caption}}</p>
                <p class="card-text">{{post.date_created}}</p>
              <!-- mygtukas Elipsis gali būti naudojamas ateitije išskleidžiamam menu -->
              <div class="row justify-content-md-end align-items-end">
                <div class="col-md-auto">
                  <a href="{% url 'posts:post_detail' post.pk %}" class="btn btn-primary"><i class="fa-solid fa-maximize"></i></a>
                </div>
                <div class="col-md-auto">
                  <a href="{% url 'posts:delete_post' post.pk %}" class="btn btn-primary"><i class="fa-solid fa-trash-can"></i></a>
                </div>
                <div class="col-md-auto">
                  <a href="{% url 'posts:editor' post.pk %}" class="btn btn-primary"><i class="fa-solid fa-sliders"></i></a>
                </div>
              </div>
            </div>
            </div>
          {% endfor %}
        </div>
      </div>
  </div> 
</div>
{% endblock %}